body {
	background-color: #ecf0f1;
	font-family: 'Noto Sans', sans-serif;
	font-size: 90%;
	margin: 0 !important;
}

.base-layout {
	background-color: #f6f6ef;
	margin: 0;
}

@media only screen and (min-width: 768px) {
	body {
		font-size: 80%;
	}

	.base-layout {
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 1%;
	}
}

/* navbar start */
.navbar {
	background-color: #fc6621;
	margin: 0;
	padding: 0.2rem 0.5rem;
	margin-bottom: 0px;
	list-style-type: none;
}

.navbar .item {
	display: inline-block;
	vertical-align: middle;
}

.navbar .right {
	float: right;
}

.navbar a {
	text-decoration: none;
	color: black;
	font-size: 110%;
}

.navbar .divider {
	margin-left: 7px;
	margin-right: 7px;
	font-size: 130%;
}
/* navbar end */

.content {

}

/* post list start */
.post-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.post-list .item {
	padding: 0px;
	width: 100%;
	border-width: 0px 0px 1px 0px;
	border-color: lightgrey;
	border-style: solid;
	box-sizing: border-box;

	display: grid;
	grid-template-columns: 70px auto;
}

.post-list .item:last-child {
	border-width: 0;
}

.post-list .item:hover {
	border-width: 1px 2px 2px 2px;
}

.container-points {
	border-width: 0px 1px 0px 0px;
	border-color: lightgrey;
	border-style: solid;
	padding: 6px 0 0 0;
}

.container-points .buttons > .button {
	display: inline;
	color: grey;
	margin: 0 2px;
	cursor: pointer;
}

.container-points > div {
	text-align: center;
}

.container-points .points {
	font-size: 90%;
	font-weight: bold;
}

.container-content {
	padding: 7px;
}

.container-content a {
	text-decoration: none;
	color: black;
	font-size: 105%;
}

.container-content .source {
	text-decoration: none;
	color: grey;
	font-size: 85%;
	margin-left: .25rem;

}

.container-content a:visited {
	color: grey;
}

.post .container-content .title > div, a {
	display: inline;
}

.post .container-content .subtitle {
	margin-top: 2px;
	font-size: 80%;
	color: grey;
}

.post .subtitle > div {
	display: inline;
}

.post .subtitle > a {
	color: grey;
	font-size: 100%;
}

.post .subtitle > a:hover {
	text-decoration: underline;
}
/* post list end */
